body {
    background-color: #dbf3ff;
}

header, main, nav, footer {
    text-align: center;
}

header {
    color: #7c7f87;
}

footer {
    clear: left;
    font-size: 12px;
    padding-top: 10px;
}

footer p {
    color: grey;
}

nav a {     /* links within "nav" container */
    padding: 15px;
    padding-bottom: 5px;
    font-size: 1.8em;
    text-decoration: none; /* removes underline */
    color: #7c7f87;          /* by default, links are #7c7f87 */
}

nav a:hover {     /* pseudo class */
    border-bottom:4px #36517c solid;
    font-size: 2em;
    transition: .9s; /* transition effect */
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td string {
    color: orange;
}

ul {
    padding-left: 200px;
    text-align: left;
}

h1 {
    font-family: 'Baloo Bhaijaan';
    font-size: 4em;
    margin-bottom: 0px;
}

hr {
    height: 2px;
    background-color: grey;
    border: none;
}

.selected { /* TODO change this */
    color: #36517c;
}

.table-row {
    background-color: #753900;
}

#top-bar{
    width: 50%;
}

#table-header {
    background-color: #351a00;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
}

