    body{
        opacity:0.9;
        width: 100%;
        text-align:center;
        color:black;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
    
   .rad {
       padding: 10px;
   }
   
   .search {
       width: 70%;
       margin: auto;
       padding-bottom: 7px;
       background-color: #eee;
       border-radius: 20px;
   }