body {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    background-color: #eeeff7;
    text-align: left;
    font-family: 'Lato', sans-serif;
    min-width: 500px;
}

nav {
    width: 100%;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: #eeeff7;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
}

nav a:hover {
    background-color: #1c1d21;
}

header {
    min-height: 60px;
    background-color: #31353d;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #92cdcf;
}
/*
#1c1d21
#31353d
#445878
#92cdcf
#eeeff7
*/
img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: #31353d
}

footer {
    text-align: center;
    clear: right;
    padding-top: 5px;
    margin-top: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: red;
}

#site-title {
    color: #eeeff7;
    text-decoration: none;
}

#footer {
    text-align: center;
    clear: right;
    padding-top: 20px;
}

#bottom-link{
   padding: 20px;
} 

#bottom-link a {
    text-decoration: none;
    font-size: 12px;
    color: #92cdcf;
}

.selected {
    background-color: #445878;
}

.container {
    width: 70%;
    max-width: 1000px;
    margin:auto;
}

.showcase {
    background: url();
}

.content {
    padding-top: 8px;
    color: #31353d;
}

.first-content {
    width: 400px;
    float: left
}

.next-content {
    width: 300px;
    float: right;
}
.inner-header {
    padding: 10px;
}

.page-title {
    margin: 0;
}

@media only screen and (max-width: 1010px){
    .showcase {
        text-align: center;
    }
    .page-title{
        text-align: center;
    }
    .first-content{
        float:none;
        text-align: center;
        margin: auto;
    }
    .next-content{
        float: none;
        text-align: center;
        margin: auto;
    }
}